<strong>Olá, {{ name }}</strong>
<p>Foi cadastrada uma nova encomenda para ser entregue e já está disponível para retirada, detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
</p>
